#app
APP_NAME=Clean Architecture
APP_ENV=local
APP_PORT_HTTP=3000
APP_LOG=info

#database
DB_CONNECTION=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=boilerplate
DB_POOL_MIN=0
DB_POOL_MAX=10
DB_POOL_ACQUIRE=30000
DB_POOL_IDLE=30000

#jwt
JWT_ACCESS_SECRET=secret_key
JWT_ALGORITHM=HS256

#redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

